parameters:
    level: 1
    paths:
        - public/index.php
        - src
        - core/model.php
        - core/includes
        - core/utils
    ignoreErrors:
    # Faux positifs permanents : les vues reçoivent leurs variables du contrôleur
    -
        identifier: variable.undefined
        path: src/views/*

